/*
* Vars
* ------------------------- 
*/

$breakpoint_mobile_max: 991px;
$breakpoint_desktop: 992px;
$breakpoint_desktop_lg: 1200px;
$breakpoint_desktop_xl: 1600px;
$breakpoint_desktop_xxl: 2000px;

$body_font_size: 14;

$color_yellow: #FFC12C;
$color_black: #000000;
$color_grey1: #999999;
$color_grey2: #BBBBBC;
$color_grey3: #CCCCCC;
$color_grey4: #555658;
$color_grey5: #666666;
$color_grey6: #C2C2C2;

/*
* Functions
* ------------------------- 
*/

@function toRem($value) {
    $remValue: calc(round(calc($value / $body_font_size) * 1000) / 1000) + rem; 
    @return $remValue;
}

/*
* Layout
* ----------------------------------------
*/

.view {
    position: relative;
}

.abs-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.hw-full {
    height: 100%;
    width: 100%;
}

/*
* List
* ----------------------------------------
*/

ul.ns, ol.ns {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.ns li, ol.ns li {
    padding: 0;
    margin: 0;
}

/*
* Text
* ----------------------------------------
*/

.t-em {
    font-style: italic;
    line-height: 1.4em;
}
.t-uc {
    text-transform: uppercase;
}

/*
* Media display
* ----------------------------------------
*/

@media (max-width: 991px)
{
    body:not(.wp-admin) .hide-mobile {
        display: none !important;
    }
}
@media (min-width: 992px)
{
    body:not(.wp-admin) .hide-desktop, 
    body:not(.wp-admin) .hs-hide-desktop {
        display: none !important;
    }
}

/*
* Images
* ----------------------------------------
*/

.bg-img-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg-img-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/*
* Responsive images
* ----------------------------------------
*/

.img-resp-cont {
    position: relative;
}
.img-resp-cont img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-resp-cont.img-cover img {
    object-fit: cover;
}
.img-resp-cont.img-contain img {
    object-fit: contain;
}

/*
* Responsive rectangles
* ----------------------------------------
*/

.square {
    width: 50%;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rect-120-100 {
    width: 100%;
}
.rect-120-100:before {
    content: "";
    display: block;
    padding-bottom: 83%;
}

.rect-150-100 {
    width: 100%;
}
.rect-150-100:before {
    content: "";
    display: block;
    padding-bottom: 67%;
}

.rect-200-100 {
    width: 100%;
}
.rect-200-100:before {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.rect-200-100 {
    width: 100%;
}
.rect-200-100:before {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.rect-300-100 {
    width: 100%;
}
.rect-300-100:before {
    content: "";
    display: block;
    padding-bottom: 33%;
}

.rect-320-100 {
    width: 100%;
}
.rect-320-100:before {
    content: "";
    display: block;
    padding-bottom: 31%;
}

.rect-500-100 {
    width: 100%;
}
.rect-500-100:before {
    content: "";
    display: block;
    padding-bottom: 20%;
}

.rect-60-100 {
    width: 100%;
}
.rect-60-100:before {
    content: "";
    display: block;
    padding-bottom: 165%;
}
