@import "./common.scss";
@import "./views.scss";

/*
* Global
* ------------------------- 
*/

html, body {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    font-weight: 400;
    color: $color_black;

    @media (min-width: $breakpoint_desktop)
    {
        font-size: 14px;
    }
}

/*
* Links
* ----------------------------------------
*/

a:not(.s-btn)
{
    text-decoration: none;
    color: $color_yellow;

    transition-property: color;
    transition-duration: 0.3s;

    &:hover, &:visited {
        text-decoration: none;
        color: $color_yellow;
    }
}

p {
    padding: 0 0 1.2em;
    margin: 0;
}
p:last-child {
    padding-bottom: 0;
}

/*
* Headings
* ----------------------------------------
*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    line-height: 1.4em;
    padding: 0 0 1rem;
    margin: 0;
}
